/*  ---------------------------------------------------------
    mixin to add webfonts

    use: @include add-font-face ('[font-family]' ,'[filename]');

    optional add:
    font-path      default: fonts
    font-use-svg   default: false
    (use till iOS 4.3, iOS >= 5.0 has .woff support)

    if you like it, add font smoothing to body in your css:
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    --------------------------------------------------------- */

@mixin add-font-face($font-family, $font-filename, $font-path: fonts, $font-use-svg: false) {
  @font-face {
    font-family: $font-family;
    src: url("#{$font-path}/#{$font-filename}.eot");
    src: url("#{$font-path}/#{$font-filename}.eot?#iefix") format("embedded-opentype"),
    url("#{$font-path}/#{$font-filename}.woff") format("woff"),
    url("#{$font-path}/#{$font-filename}.ttf") format("truetype");
    @if $font-use-svg {
    src: url("#{$font-path}/#{$font-filename}.svg##{$font-family}") format("svg");
    }
  }
}