//  ---------------------------------------------------------
//  mixin for a pulse animation
//
//  example:
//  use:  @include pulse-animation("0.5","1.1");
//
//  example in html:
//  i use hover on a class to pulse a link or background
//
//  .my-class-to-pulse:hover {
//    display: block;
//    -webkit-animation: pulse 0.3s;
//    -moz-animation: pulse 0.3s;
//    animation: pulse 0.3s;
//  }
//
//  ---------------------------------------------------------

@mixin pulse-animation($min,$max) {
  @keyframes pulse {
    @content;
    0% {transform: scale(#{$min}, #{$min}); opacity: 0.0;}
    50% {transform: scale(#{$max}, #{$max}); opacity: 1.0;}
    100% {transform: scale(1.0, 1.0); opacity: 1.0;}
  }

  @-webkit-keyframes pulse {
    @content;
    0% {-webkit-transform: scale(#{$min}, #{$min}); opacity: 0.0;}
    50% {-webkit-transform: scale(#{$max}, #{$max}); opacity: 1.0;}
    100% {-webkit-transform: scale(1.0, 1.0); opacity: 1.0;}
  }
}